$primary-color-light: #00AFAA;
$primary-color: #1FC5B9;
$primary-color-dark: #00A09C;

$secondary-color-light: #F5F7FA;
$secondary-color: #EEF2F7;
$secondary-color-dark: #9DB0CB;

$error-color: #FE5959;

$font-family: "iranyekan";
$font-size: 14px;

$sections-padding: 9rem 0;

$text-color: #8da3c2;
